@if (pokemon() === null) {
    <div class="flex flex-col justify-center items-center">
        <p>Loading...</p>
    </div>
} @else {

    @let myPokemon = pokemon()!;
<section class="flex flex-col justify-center">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold capitalize my-5">{{ myPokemon.name }}</h1>
    </div>
</section>
<section class="flex flex-col justify-center items-center w-full">
    <div class="flex flex-col justify-center items-center">
        <img [src]="myPokemon.sprites.other['official-artwork'].front_default" [alt]="myPokemon.name" class="w-64 h-64" width="256px" height="256px">
        @if (myPokemon.cries.latest) {
            <audio [src]="myPokemon.cries.latest" controls></audio>
        }
    </div>
</section>

<section class="flex flex-col justify-center items-center w-full">
    <div class="flex flex-col justify-center items-center">
        <h2 class="text-2xl font-bold capitalize my-5">Abilities</h2>
        <ul>
            @for (ability of myPokemon.abilities; track $index) {
                <span class="mx-2">{{ ability.ability.name }}</span>
            }
        </ul>
    </div>
</section>
}

